<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>messages list</title>
        <meta charset="utf-8" content="content">
        <script src="jquery.js" charset="utf-8"></script>
        <script src="bootstrap.js" charset="utf-8"></script>
        <script src="underscore.js" charset="utf-8"></script>
        <link rel="stylesheet" href="bootstrap.css" media="screen" title="no title" charset="utf-8">
        <style media="screen">
            .messages-row-username { width: 25%; }
            .messages-row-body { width: 50%; }
            .messages-row-date { width: 25%; }
        </style>
    </head>
    <body>
        <script id="tpl" type="template/underscore">
            <table class="table">
                <% messages.map(function(message) { %>
                    <tr>
                        <td class="messages-row-username">
                            <strong><%= message.username %></strong>
                        </td>
                        <td class="messages-row-date">
                            <%= message.date %>
                        </td>
                        <td class="messages-row-body">
                            <%= message.body %>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </script>
        <script type="text/javascript">
            $.ajax('/api/messages').then(function (resp) {
                $('body').html(_.template($('#tpl').html())({
                    messages: resp
                }));
            });
        </script>
    </body>
</html>
